[user]
  email = nmaupu@gmail.com
  name = Nicolas Maupu

[includeIf "gitdir:~/work/perso/**"]
  path = ~/.gitconfig-perso

[includeIf "gitdir:~/.dotfiles"]
  path = ~/.gitconfig-perso

[includeIf "gitdir:~/work/pro/**"]
  path = ~/.gitconfig-pro

[safe]
  directory = ~/work/perso/guix
